.box {
  margin-top: 20px;
  width: 80%;
  max-width: 352px;
  min-width: 280px;
  padding: 44px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.sign-in-text {
  color: #404040;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 16px;
  font-family: "Segoe UI Web (West European)";
}

span {
  font-family: "Segoe UI Web (West European)";
  font-size: 13px;
}

.input-field {
  font-size: 17px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  border-color: #666;
  height: 36px;
  outline: none;
}

.input-field:focus {
  border-color: #1976d2;
}

a {
  text-decoration: none;
  color: #0067b8;
}

a:hover {
  text-decoration: underline;
  color: #666;
}

.btn-div {
  text-align: right;
}

.btn {
  min-width: 100px;
  padding: 10px 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #0067b8;
  color: #fff;
  border: none;
  font-size: 16px;
}

.btn:hover {
  background-color: #1976d2;
}

@media only screen and (max-width: 600px) {
  .bg {
    justify-content: start;
    padding-top: 20px;
  }

  .box {
    padding: 24px;
  }
}
